{% extends "profile_page.html" %}
{% block new_recipe %}
    <div class="card">


                <div class="card-header d-flex justify-content-between">
                    <h4>Recipe: <a style="font-size: 20px ; font-style: italic">{{ object.recipesName }}</a></h4>
                    <button type="button" class="btn-close" aria-label="Close" style="background-color: #5C636A"
                            onclick="window.location.href = '{% url 'see-favorite-recipes' %}';"></button>
                </div>





        <form method="post" action="{% url 'delete-favorite-recipes' object.id %}">
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <p>Do you want to remove these recipes from favorite?</p>
                <br>
                <br>
                <br>
                <div class="container d-flex align-items-center justify-content-center">
                    <input type="submit" value="Delete" class="btn btn-secondary">
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}