{% extends 'home.html' %}
{% block title %}HomePage{% endblock title %}
{% block content %}
    <div class="row">
            <div class="col-md-6">
            <h1>Recipes</h1>
        </div>
    </div>
    <br><br>
    <div class="row">
        {% for data in data_query%}
            <div class="col-md-4" style="padding-bottom: 12px">
                <div class="card">
                    <div class="card-header" style="background-color: lightgray">
                        <p style="font-size: 20px">Recipe: <a style="font-weight: bold"> {{ data.recipesName }}</a></p>
                    </div>
                    <div class="card-body">
                            <div class="form-group">
                                <p style="font-size: 18px">Difficult: <a style="font-weight: bold">{{ data.recipesDifficult }}</a></p>
                            </div>
                            <div class="form-group">
                                <p style="font-size: 18px">Category: <a style="font-weight: bold">{{ data.category}}</a></p>
                            </div>
                            <div class="form-group">
                                <p style="font-size: 18px">Creator: <a style="font-style: italic; font-size: 14px" >{{ data.users}}</a></p>
                            </div>
                            <a class="btn btn-secondary"  href="{% url 'home_see_recipe' data.id %}" role="button">view more</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
