{% extends 'home.html' %}
{% block title %}HomePage{% endblock title %}
{% block content %}
    <style>
        .input-field, .btn-outline-secondary {
            display: flex;
            height: 30px;
            align-items: center;

        }

        .form-container {
            display: flex;
            align-items: center;
        }

        .text-end {
            display: flex;
            justify-content: flex-end;
        }
    </style>
    <div class="row">
        <div class="col-md-6">
            <h1>Recipes</h1>
        </div>
        <div class="col-md-6">
            <br>
            <div class="text-end">
                <form action="{% url 'home_researching_recipes' %}" method="get" class="form-container">
                    <input type="search" name='search' placeholder="Search Recipes" style="border-radius: 5px"
                           class="input-field">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
                <br>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        {% for dati_query in dati_ricette_queryset %}
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header">
                        <p style="font-size: 20px">Name: <a style="font-weight: bold"> {{ dati_query.recipesName }}</a>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <p style="font-size: 18px">Difficult: <a
                                    style="font-weight: bold">{{ dati_query.recipesDifficult }}</a></p>
                        </div>
                        <div class="form-group">
                            <p style="font-size: 18px">Category: <a
                                    style="font-weight: bold">{{ dati_query.category }}</a></p>
                        </div>
                        <div class="form-group">
                            <p style="font-size: 18px">Creator: <a
                                    style="font-style: italic; font-size: 14px">{{ dati_query.users }}</a></p>
                        </div>
                        <a class="btn btn-secondary" href="{% url 'home_see_recipe' dati_query.id %}" role="button">view
                            more</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}









