{% extends 'home.html' %}
{% block title %}HomePage{% endblock title %}
{% block content %}
    <br><br>
    <form method="post" action="{% url 'home_researching_recipes' %}">
        {% csrf_token %}
        {{ form.search_query }}
      <button type="submit">Cerca</button>
    </form>
    <div class="row">
        {% for dati_query in dati_ricette_queryset %}
            <div class="col-md-4">
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="card-header">
                        <p style="font-size: 20px">Name: <a style="font-weight: bold"> {{ dati_query.recipesName }}</a></p>
                    </div>
                    <div class="card-body">
                            <div class="form-group">
                                <p style="font-size: 18px">Difficult: <a style="font-weight: bold">{{ dati_query.recipesDifficult }}</a></p>
                            </div>
                            <div class="form-group">
                                <p style="font-size: 18px">Category: <a style="font-weight: bold">{{ dati_query.category}}</a></p>
                            </div>
                            <div class="form-group">
                                <p style="font-size: 18px">Creator: <a style="font-style: italic; font-size: 14px" >{{ dati_query.users}}</a></p>
                            </div>
                            <a class="btn btn-secondary" href="" role="button">view more</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
